<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triviaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/drop_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/drop_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TriviaApp">
        <activity
            android:name=".LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".game.GameStatsActivity"
            android:exported="false" />
        <activity
            android:name=".game.CreateGameActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".signin.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".game.GameActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".signin.SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>